<h1>Database</h1>
<% @artists.each do |artist| %>
    <h2>Artist</h2>
     <p><strong><%= artist.name %></strong></p>
     <% artist.songs.each do |song| %>
     <h3>Song</h3>
     <p><%= song.track %></p>
     <% end %>
 <% end %>
