<h1>Where do you wanna go?</h1>
<p>--------------------------------------------------------</p>
<p><strong><%= link_to "Artists", artists_path %></strong></p>
<p><strong><%= link_to "Songs", songs_path %></strong></p>
<p>--------------------------------------------------------</p>
